.trending-card {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 3rem 0 !important;
    padding: 3rem !important;
}

.trending {
    margin: 1.5rem 0 !important;
}

.post-logo img {
    width: 100%;
    height: auto;
}

.read-post {
    text-decoration: none;
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
}

.date {
    color: #86868a;
}