* {
    box-sizing: border-box;
}

.headline h1 {
    font-size: 3.2rem;
}

.tagline {
    color: rgb(119, 119, 119);
}

.primary-btn {
    outline: none;
    color: #ffff;
    border: none;
    background-color: #2869FE;
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 25px;
    transition: 0.3s ease;
}

.primary-btn:hover {
    background-color: #0f52ec;
    transition: 0.3s ease;
}

@media (max-width:1050px) {

    .headline h1 {
        font-size: 2rem;
    }

    .tagline {
        font-size: 1.1rem;
    }

}